/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

/* Resetting default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 241, 234);
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Logo */
.logo {
    padding: 10px 0px 0px 15px;
    width: 70px;
}

/* Navigation links */
li, a, button {
    font-family: "inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding: 5px;
    justify-content: right;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10px 10px;
}

/* Navigation links list */
.nav_links {
    list-style: none;
}

.nav_links li {
    display:inline-block; 
    padding: 8px 10px 50px;
}

.nav_links li a {
    transition: all .3s ease 0s;
}

.nav_links li a:hover {
    color: #df4f6e
}

/* Hero section container */
.hero-container {
    display: flex;
    justify-content:center;
    width: 90%;
    margin: 10rem auto 0 auto;
    align-items: center;
    padding: 30px 10px 10px;
    margin: 70px;
    max-width: 1673px;
    margin-left: auto;
    margin-right: auto;
}


/* Hero section image */
.hero-container img {
    height: 500px;
    margin: 0px ;   
}

/* Hero section heading */
.hero-container h1 {
    margin: 0;
    font-family:Inter;
    font-weight: 400;
    font-size:75px;
    min-width: 533px;
    max-width: 533px;
}

/* Hero section paragraph */
.paragraph { 
    max-height: 227.5px;
    max-width:655px;
    line-clamp: 5;
}

.hero-container p {
    font-size: 3rem;
    line-height: 1.5;
    font-family:Inter;
    font-size:25px;
    padding: 20px 0;
    min-width: 512px; 
}

/* Call-to-action button */
button {
    padding: 9px 25px ;
    margin: 8px;
    background-color: rgb(175, 31, 69);
    color: aliceblue;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    transition: all .3s ease 0s;
    justify-items: 30px;
}

button:hover {
    background-color:rgba(203, 91, 107, 0.8);
    color: rgb(72, 8, 8);
}

/* Resume link */
.resume {
    margin: 20px 500px 0px 0px;
    position: absolute;
}

/* Footer */
.socials {
    height: 20px;
    width: 30px;
    background: transparent !important;
}

footer {
    display: flex;
    justify-content: flex-end;
    height:25vh;
    align-items: flex-end;
    position: sticky;
    bottom: 0;
    color: none;
background: transparent !important;
}
 
.socials {
    height: 30px;
    width: 100px;
    margin: 40px;
    background: transparent !important;
}

.social-box {
    background: transparent !important;
}

@media (min-width: 1700px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 30px 10px 10px;
    }

    .hero-container {
        display: flex;
        justify-content:center;
        width: 100%;
        margin: 10rem;
        align-items: center;
        margin: 50px;
        max-width: 2500px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-container img {
        height: 600px;
        margin: 0px ;   
    }

    .hero-container h1 {
        margin: left;
        font-family:Inter;
        font-weight: 400;
        font-size: 95px;
        line-height: 110px;
        min-width: 533px;
        max-width: 750px;
    }

    .hero-container p {
        font-size: 5rem;
        line-height: 1.5;
        font-family:Inter;
        font-size: 25px;
        padding: 40px 0;
        min-width: 680px;
        max-width: 500px; 
    }
}

@media (max-width: 1270px) {


    header {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 30px 10px 10px;
    }

    .hero-container {
        display: flex;
        justify-content:center;
        width: 100%;
        margin: 10rem;
        align-items: center;
        margin: 50px;
        max-width: 2500px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 100px;scale: 80%;
    }

    .hero-container img {
        height: 500px;
        margin: 0px ;   
    }

    .hero-container h1 {
        margin-top: 0px;
        font-family:Inter;
        font-weight: 400;
        font-size: 60px;
        line-height: 70px;
        min-width: 450px;
        max-width: 450px;
    }

    .hero-container p {
        font-size: 5rem;
        line-height: 1.5;
        font-family:Inter;
        font-size: 19px;
        padding: 20px 10px 10px 10px;
        min-width: 500px;
        max-width: 500px; 
    }

    .text { 
        max-width: 500px;
    }
}

@media (max-width: 992px) {

    .hero-container {
       scale: 85%;
    }
}